.common-section{
    background: linear-gradient(rgba(0,0,0,0.600),rgba(0, 0, 0, 0.600)),url(../../assets/images/common-section-bg.webp) no-repeat center center;
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.common-section h1{
    color: white;
    font-weight: 700;
    font-size: 45px;
}